extends ../../layouts/default.pug

block main
    h1.text-center.my-4 Product List

    .card.mb-3
        .card-header Filter and Search
        .card-body
            button(class="btn btn-sm ml-1 btn-outline-success active" button-status="") All
            button(class="btn btn-sm ml-1 btn-outline-success" button-status="active") Active
            button(class="btn btn-sm ml-1 btn-outline-success" button-status="inactive") Inactive

    table.table.table-bordered.table-striped
        thead
            tr
                th No.
                th Image
                th Title
                th Price
                th Status
                th Actions
        tbody
            each item, index in products
                tr
                    td #{index + 1}
                    td
                        img(
                            class="item-thumbnail",
                            src=item.thumbnail,
                            alt=item.title,
                            width="100px",
                            height="auto"
                        )
                    td #{item.title}
                    td #{item.price}$
                    td
                        if item.status == "active"
                            a(href="#" class="badge badge-success") Active
                        else
                            a(href="#" class="badge badge-danger") Inactive
                    td
                        button(class="btn btn-warning btn-sm") Edit
                        button(class="btn btn-danger btn-sm ml-1") Delete
