extends ../../layouts/default.pug
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/change-multi-status
include ../../mixins/alert

block main
    +alert-success("5000")

    h1.text-center.my-4 Product List

    .card.mb-3
        .card-header Filter and Search
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +search(keyword)

    - const currentFilter = filterStatus.find(filter => filter.class === 'active');

    if currentFilter.name !== 'Deleted'
        .card.mt-3
            .card-header Product Management
            .card-body
                .col-auto
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

    table(
        class="table table-bordered table-striped"
        checkbox-multi
    )
        thead
            if currentFilter.name !== 'Deleted'
                tr
                    th(colspan="100%")
                        div(class="d-flex justify-content-end")
                            a(
                                href=`${prefixAdmin}/products/create`
                                class="btn btn-success"
                            ) Add
            tr
                if currentFilter.name !== 'Deleted'
                    th
                        input(type="checkbox" id="check-all" name="checkall")
                th No.
                th Image
                th Title
                th Price
                th Position
                th Status
                th Actions

        tbody
            if products.length > 0
                each item, index in products
                    tr
                        if currentFilter.name !== 'Deleted'
                            td
                                input(
                                    type="checkbox"
                                    class="checkbox-item"
                                    name="id"
                                    value=item.id
                                )
                        td #{index + 1}
                        td
                            img(
                                class="item-thumbnail",
                                src=item.thumbnail,
                                alt=item.title,
                                width="100px",
                                height="auto"
                            )
                        td #{item.title}
                        td #{item.price}$
                        td
                            input(
                                type="number"
                                value=item.position
                                style="width: 60px"
                                min="1"
                                name="position"
                            )
                        td
                            if item.status == "active"
                                button(
                                    class=`btn badge-success btn-change-status ${item.deleted ? 'disabled' : ''}`
                                    button-change-status
                                    data-status=item.status
                                    data-id=item.id
                                ) Active
                            else
                                button(
                                    class=`btn badge-danger btn-change-status ${item.deleted ? 'disabled' : ''}`
                                    button-change-status
                                    data-status=item.status
                                    data-id=item.id
                                ) Inactive
                        td
                            if item.deleted
                                form(
                                    action=""
                                    method="POST"
                                    id="form-restore"
                                    data-path=`${prefixAdmin}/products/restore`
                                )
                                    button(
                                        type="submit" class="btn btn-success btn-sm"
                                        button-restore
                                        data-id=item.id
                                    ) Restore
                            else
                                a(
                                    href=`${prefixAdmin}/products/detail/${item.id}`
                                    class="btn btn-secondary btn-sm"
                                ) Detail
                                a(
                                    href=`${prefixAdmin}/products/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                ) Edit
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    button-delete
                                    data-id=item.id
                                ) Delete
            else
                tr
                    td(colspan="7" class="text-center text-danger fw-bold") No results found
    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )

    form(
        action=""
        method="POST"
        id="form-delete"
        data-path=`${prefixAdmin}/products/delete`
    )

    script(src="/admin/js/product.js")
